header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, header nav {
    margin: 0.75vh 3.25vw;
}

h1 {
    font-size: 2vw;
}

#nav-bar a {
    text-decoration: none;
    color: purple;
}

.nav-link {
    display: inline-block;
    margin: 0 1vw;
}